<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TripCraft</a>

  <div class="d-flex justify-content-center flex-grow-1">
    <i class="bi bi-globe-americas" style="font-size: 32px;"></i>
  </div>
  
  <div class="d-flex ml-auto">
    <a class="nav-link mx-3" href="/dashboard">My Dashboard</a>
    <button class="no-button nav-link mx-3" id="logout">Logout</button>
  </div>

  <script src="/js/logout.js"></script>
</nav>