<%- include('partials/head')%> <%- include('partials/navbar') %>
<body>
  <h1>Start A New Trip!</h1>

    <label for="dest">Enter destination:</label><br>

<input type="text" id="fname" name="fname" value="Enter Destination Here.."><br>
</form>

 <a href="/create_trip" class="btn btn-primary">Start Planning</a>

  
    
</body>

<%-include('partials/footer')%>
