    <%- include('partials/head')%> 

<%- include('partials/navbar') %>

    <label for="dest">Enter destination:</label><br>

<input type="text" id="fname" name="fname" value="Enter Destination Here.."><br>
</form>

  <input class="ui-button ui-widget ui-corner-all" type="submit" value="Start Planning">

  <h1>Upcoming Trips</h1>

  <h1>Past Trips</h1>

<%-include('partials/footer')%>
    
