<%- include('partials/head')%> 

<%- include('partials/navbar') %>

    <label for="dest">Start Planning!</label><br>
<h3>Flights</h3>
<button type="button" class="btn btn-primary" id="openModal1">Click Here To Add Your Flight Info</button>


<h3>Lodging</h3>
<button type="button" class="btn btn-secondary" id="openModal2">Click Here To Add Your Lodging Info</button>

<h3>Itinerary</h3>
<button type="button" class="btn btn-primary" id="openModal3">Click Here To Add Items To Your Itinerary</button>

<h3>Invite</h3>
<button type="button" class="btn btn-secondary" id="openModal4">Click Here To Add Others To Join Your Trip</button>

<!-- Modal 1-->
<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal1Label">Modal 1 Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form><div>
                  <label for ="airport">Airport:</label>
                  <input class = 'form-input' type="text">
                </div>
                
                <div> <label for ="flightNum">Flight Number:</label>
                  <input class = 'form-input' type="text"></div>

                   <div> <label for ="departAir">Departing Airport:</label>
                  <input class = 'form-input' type="text"></div>

                   <div> <label for ="departTime">Departing Time:</label>
                  <input class = 'form-input' type="text"></div>

                   <div> <label for ="arrivalAir">Arrival Airport:</label>
                  <input class = 'form-input' type="text"></div>

                   <div> <label for ="arrivalTime">Arrival Time:</label>
                  <input class = 'form-input' type="text"></div>
                  
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal2">Lodging</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form><div>
                  <label for ="lodging">Lodging:</label>
                  <input class = 'form-input' type="text">
                </div>
                
                <div> <label for ="address">Lodging Address:</label>
                  <input class = 'form-input' type="text"></div>

                   <div> <label for ="checkin">Checkin Time:</label>
                  <input class = 'form-input' type="text"></div>

                   <div> <label for ="checkout">Checkout Time:</label>
                  <input class = 'form-input' type="text"></div>
                  
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3 -->
<div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="modal3Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal3">Itinerary</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form><div>
                  <label for ="plans">Plans:</label>
                  <input class = 'form-input' type="text">
                </div>
                
                <div> <label for ="planTime">Time:</label>
                  <input class = 'form-input' type="text"></div>

                   <div> <label for ="planNotes">Notes:</label>
                  <input class = 'form-input' type="text"></div>
                  
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 4 -->
<div class="modal fade" id="modal4" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4">Travlers</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                
                <div> <label for ="attending">Whos Attending:</label>
                  <input class = 'form-input' type="text"></div>
                  
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        // Open Modal 1
        $('#openModal1').click(function() {
            $('#modal1').modal('show');
        });

        // Open Modal 2
        $('#openModal2').click(function() {
            $('#modal2').modal('show');
        });

        // Open Modal 3
        $('#openModal3').click(function() {
            $('#modal3').modal('show');
        });

        // Open Modal 4
        $('#openModal4').click(function() {
            $('#modal4').modal('show');
        });
    });
</script>
<%-include('partials/footer')%>
    
