<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/public/css/jass.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>

  <header>
    <h1>Trip Planner</h1>
    <nav>
      <a href="home.html">Home</a>
      <a href="mytrips.html">My Trips</a>
      <a href="login.html">Login</a>
    </nav>
  </header>

  <main>
    <h2>Trip Name</h2>
    <h2>Location</h2>
      <div class="trip-flight">
        <h3>View  flight info</h3>
        <button>edit flight info</button>
      </div>

      <div class="trip-lodging">
        <h3>View  lodging info</h3>
        <button>edit lodging info</button>
      </div>

      <div class="trip-itinerary">
        <h3>View  itinerary</h3>
        <button>edit itinerary</button>
    </div>

    <div class="trip-people">
        <h3>View the members of your trip</h3>
        <button>add or remove people</button>
    </div>
  </main>
</body>

</html>