<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Home Page <%= 'Hello World'.toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ea
      officia tenetur atque maiores itaque voluptas deserunt ut, dolore natus
      laborum molestias placeat corporis laudantium possimus tempora ipsa
      necessitatibus repellat!
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
      reprehenderit suscipit maxime repellendus? Nobis aliquam labore deleniti
      vel dolorem eum qui dolore magnam beatae iste! Fuga nostrum fugiat cum
      provident?
    </p>
  </body>
</html>
