<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Trips</title>
  <link rel="stylesheet" href="/public/css/jass.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>

    <header>
        <h1>Trip Planner</h1>
        <nav>
          <a href="home.html">Home</a>
          <a href="mytrips.html">My Trips</a>
          <a href="login.html">Login</a>
        </nav>
      </header>

  <main>
    <button onclick="location.href='newtrip.html'">Start a New Trip</button>
    <h2>Upcoming Trips</h2>
    <div class="upcoming-trips"></div>
    <h2>Past Trips</h2>
    <div class="past-trips"></div>
  </main>

</body>

</html>