<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Trip</title>
  <link rel="stylesheet" href="/public/css/jass.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>

    <header>
        <h1>Trip Planner</h1>
        <nav>
          <a href="home.html">Home</a>
          <a href="mytrips.html">My Trips</a>
          <a href="login.html">Login</a>
        </nav>
      </header>

  <main>
    <h2>Start planning!</h2>
    <form class="trip-form">
      <div>
        <label for="flights">Flights:</label>
        <input type="text" id="flights" name="flights" placeholder="Add your flight info"/>
      </div>

      <div>
        <label for="lodging">Lodging:</label>
        <input type="text" id="lodging" name="lodging" placeholder="Add your lodging info" />
      </div>

      <div>
        <label for="itinerary">Itinerary:</label>
        <textarea id="itinerary" name="itinerary" placeholder="Add items to your itinerary"></textarea>
      </div>

      <div>
        <label for="people">Invite:</label>
        <input type="text" id="people" name="people" placeholder="Invite others to join your trip"/>
      </div>
      <div>
        <button type="submit">Save and come back later!</button>
      </div>
    </form>
  </main>
</body>

</html>