
/*Main css*/
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column; 
    font-family: Quicksand;
}

main {
    flex: 1;  
}

/*Nav Bar css*/
.navbar{
background: linear-gradient(to right, #71d1ca, #b0e57c);
padding: 15px 30px;  
}

#navbarNav {
justify-content: right;
}

.nav-link{
    color: white;
}

.login-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;

}

.col-md-6 {
        flex: 1;
        max-width: 50%;
        box-sizing: border-box;
    }


.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-section {
    background: linear-gradient(to bottom right, #c9e7e5, #91c786);
    padding: 30px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1; 
}
.right-section h4 {
    font-weight: bold;
}
.form-control {
    margin-bottom: 15px;
}
.login-button, .create-account-button {
    background: linear-gradient(to right, #71d1ca, #b0e57c);
    border: none;
    color: white;
    padding: 10px;
}
.forgot-password {
    color: #007bff;
    cursor: pointer;
}

.login-form, .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input, .signup-form input {
    width: 100%;
    margin-bottom: 15px;
}

.social-icons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.social-icons img {
    width: 30px;
    margin: 0 10px;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.logo img {
    width: 50px;
}

/* dashboard page  */
.dashboard-cards {
    background-color: white;
    display: grid;
    place-items: center;
}

.col-md-6 {
    text-align: center;
}


#card-body {
    background: linear-gradient(to right, #71d1ca, #b0e57c);
}

#trips {
    text-align: center;
    
}

.card-title {
    color: white;
}

/* Custom start trip button */
.start-trip-btn {
    background: linear-gradient(to right, #71d1ca, #b0e57c);
    text-transform: uppercase;
    padding: 10px 24px;
    border-radius: 20px; 
    font-size: 16px; 
    transition: all 0.3s ease; 
}

/* hover effect */
.start-trip-btn:hover {
    color: #000;
    border-color: #000; 
}

/* tripDetails page css */
.card-body{
    background: white;
    border: #b0e57c solid 2px;
    border-radius: 8px;
}

.card {
    position: relative;
    margin-top: 30px;
}

#trip-location-header{
    text-align: center;
    border-bottom: #71d1ca 3px solid;
    padding-bottom: 10px;

}

.trip-details-container{
    padding-top: 20px;
    padding-bottom: 50px;
}

.trip-details-container .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.trip-details-container .card {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trip-details-container .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; 
}

.trip-cards {
    margin-top: -50px;
}

li {
    list-style: none;
}

h3{
        text-align: center;
        position: relative;
        background: linear-gradient(to right, #71d1ca, #b0e57c);
        width: 75%;
        border-radius: 8px;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
        margin: 0 auto; 
        margin-bottom: 20px;

    }
h5{
    text-align: center;
}

.justify-content-center .btn{
    width: 150px; 
    margin: 10px; 
}

.justify-content-center .btn,
#openModal1,
#openModal2,
#openModal3 {
    width: 150px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body.background-gif {
  background-image: url('/images/giphy.gif'); /* Path to your GIF */
  background-size: cover;    /* Cover the entire viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background from repeating */
}

.trip-heading {
  margin-bottom: 20px;   
  margin-top: 20px;    /* Add some space between the heading and form */
  font-size: 2em;            /* Adjust font size */
  text-align: center;        /* Center the heading */
  color: white;
}



.trip-form{
      display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;     /* Vertically center */
  
  flex-direction: column;  /* Stack elements vertically */

   background-color: #f0f0f0; /* Light background color */
  border: 2px solid #b0e57c; /* Solid border with a specific color */
  border-radius: 15px;       /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
   width: 400px;              /* Set a fixed width for the form */
  margin: 20px auto;         /* Center the form horizontally with auto margins */
  padding: 20px;
}



.start-plan-btn, .edit-btn
{
    background: linear-gradient(to right, #71d1ca, #b0e57c);
    border: solid 2px white;
    color: white;
    padding: 5px;
}

.start-plan-btn:hover{
    background: linear-gradient(to right, #5bb6a3, #9cc562); 
    transform: scale(1.05);
    color: white;
    border: none;
}

.start-plan-btn
{
    background: linear-gradient(to right, #71d1ca, #b0e57c);
    border: solid 2px white;
    color: white;
    padding: 5px;
}

.edit-btn:hover {
    background: linear-gradient(to right, #5bb6a3, #9cc562); 
    transform: scale(1.05);
    color: white;
    border: none;
}

.del-btn{
    border: solid 2px white;
    color: white;
}

.del-btn:hover {
    transform: scale(1.05);
}

#save-flight-btn, #save-lodging-btn, #save-itinerary-btn, #save-edited-flight, #save-edited-lodging, #save-edited-itinerary{
    background: linear-gradient(to right, #71d1ca, #b0e57c);
    color: white;
    padding: 10px;
    border: white 2px solid;
}

#save-flight-btn:hover, #save-lodging-btn:hover, #save-itinerary-btn:hover, #save-edited-flight:hover, #save-edited-lodging:hover, #save-edited-itinerary:hover {
    background: linear-gradient(to right, #5bb6a3, #9cc562); 
    transform: scale(1.05);
    color: white;
    border: white 2px solid;
}

.modal-body, .modal-header, .modal-footer {
    background: linear-gradient(to right, #71d1ca, #b0e57c);
    color: white;
    padding: 10px;
}


/*Footer css*/
.footer {
    background: linear-gradient(to right, #71d1ca, #b0e57c);
    color: #333;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
    bottom: 0;
}

.left-text {
    margin-right: auto;
}

.globe-icon {
    margin: 0 auto; 
    text-align: center;
}

.social-icons {
    margin-left: auto; 
}

.footer .social-icons a {
    margin-left: 10px; 
}

.footer a {
    color: #333;
    text-decoration: none;
    padding: 5px;
}

.footer a:hover {
    color: white;
}


/* media */
@media (max-width: 992px) {
    .trip-details-container .col-md-4 {
        flex: 1 1 45%; 
    } 

    .add-btn-container {
        margin-top: -15px;
    }
    .login-page {
        flex-direction: column;
    }

    .col-md-6 {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .trip-details-container .col-md-4 {
        flex: 1 1 100%; 
        margin-bottom: 100px;
    }
    
    .add-btn-container {
        margin-top: -15px;
    }
    footer {
        flex-direction: column; 
        text-align: center; 
    }

    .footer-left, .footer-center, .footer-right {
        flex: none; 
        width: 100%; 
        text-align: center; 
        margin: 10px 0;
    }

    .footer-right a {
        margin-left: 0;
        margin-right: 10px;
    }

    .login-page {
        flex-direction: column;
    }

    .col-md-6 {
        width: 100%;
        padding: 0;
    }
}


@media (max-width: 576px) {
    .trip-details-container h2, .trip-details-container h3 {
        font-size: 1.5rem; 
    }
    
    .trip-details-container .row {
        flex-direction: column; 
    }

    .add-btn-container {
        margin-bottom: 15px;
    }
}