/*Main css*/
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column; 
    font-family: Quicksand;
}

main {
    flex: 1;  
}
/*-------------------------------------------------------------------------------------*/
/*Nav Bar css*/
.navbar{
background: linear-gradient(to right, #0097b2, #7ed957);
padding: 15px 30px;  
}

.nav-link{
    color: black;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
}


.navbar a {
    color: black;
}

.navbar-brand{
    padding-right: 25px;
}

#navbarNav {
    justify-content: right;
}
/*-------------------------------------------------------------------------------------*/
/*Login/Signup Page css*/
.login-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.col-md-6 {
    flex: 1;
    max-width: 50%;
    box-sizing: border-box;
}


.login-container {
background-color: white;
padding: 30px;
border-radius: 8px;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.right-section {
background: linear-gradient(to right, #0097b2, #7ed957);
padding: 30px;
color: black;
display: flex;
flex-direction: column;
justify-content: center;
flex: 1; 
}

.right-section h4 {
font-weight: bold;
}

.form-control {
margin-bottom: 15px;
}

.login-button, .create-account-button {
background: linear-gradient(to right, #0097b2, #7ed957);
border: none;
color: black;
padding: 10px;
}

.forgot-password {
color: #007bff;
cursor: pointer;
}

.login-form, .signup-form {
display: flex;
flex-direction: column;
align-items: center;
}

.login-form input, .signup-form input {
width: 100%;
margin-bottom: 15px;
}

.social-icons {
position: absolute;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
}

.social-icons img {
width: 30px;
margin: 0 10px;
}

.logo {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 20px;
}

.logo img {
width: 50px;
}
/*-------------------------------------------------------------------------------------*/
/* dashboard page  */
.dashboard-cards {
    background-color: white;
    display: grid;
    place-items: center;
}

.card-title {
    color: black;
}

.col-md-6 {
    text-align: center;
}

.start-trip-btn {
    background: linear-gradient(to right, #0097b2, #7ed957);
    text-transform: uppercase;
    color: black;
    padding: 10px 24px;
    border-radius: 20px; 
    font-size: 16px; 
    transition: all 0.3s ease; 
}

.start-trip-btn:hover {
    color: white;
    border-color: #000; 
}

#card-body {
    background: linear-gradient(to right, #0097b2, #7ed957);
}

#trips {
    text-align: center;
    
}
/*-------------------------------------------------------------------------------------*/
/* New-Trip page css */
body.background-gif {
    background-image: url('/images/giphy.gif'); 
    background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat; 
}
  
.trip-heading {
    margin-bottom: 20px;   
    margin-top: 20px;    
    font-size: 2em;            
    text-align: center;    
    color: black;
}
  
.trip-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0; 
    border: 2px solid #7ed957; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 400px;             
    margin: 20px auto;
    padding: 20px;
}

.start-plan-btn
{
    background: linear-gradient(to right, #0097b2, #7ed957);
    border: solid 1px black;
    color: black;
    padding: 5px;
}

.start-plan-btn:hover{
    background: linear-gradient(to right, #0097b2, #7ed957);
    transform: scale(1.05);
    color: white;
    border: none;
}

/*-------------------------------------------------------------------------------------*/
/* tripDetails page css */
h3{
    text-align: center;
    position: relative;
    background: linear-gradient(to right, #0097b2, #7ed957);
    width: 75%;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    margin: 0 auto; 
    margin-bottom: 20px;
}

h5{
text-align: center;
}

li {
    list-style: none;
}

.card-body{
    background: white;
    border: #7ed957 solid 2px;
    border-radius: 8px;
}

.card {
    position: relative;
    margin-top: 30px;
}

.trip-details-container{
    padding-top: 20px;
    padding-bottom: 50px;
}

.trip-details-container .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.trip-details-container .card {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trip-details-container .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; 
}

.trip-cards {
    margin-top: -50px;
}

.modal-body, .modal-header, .modal-footer {
    background: linear-gradient(to right, #0097b2, #7ed957);
    color: white;
    padding: 10px;
}

.edit-btn{
    background: linear-gradient(to right, #0097b2, #7ed957);
    border: solid 2px white;
    color: black;
    padding: 5px;
}

.edit-btn:hover {
    background: linear-gradient(to right, #0097b2, #7ed957); 
    transform: scale(1.05);
    color: white;
    border: none;
}

.del-btn{
    border: solid 2px white;
    color: white;
}

.del-btn:hover {
    transform: scale(1.05);
}

.justify-content-center .btn{
    width: 150px; 
    margin: 10px; 
}

.justify-content-center .btn,
#openModal1,
#openModal2,
#openModal3 {
    width: 150px;
    color: black;
}

#openModal1:hover,
#openModal2:hover,
#openModal3:hover {
    width: 150px;
    color: white;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#trip-location-header{
    text-align: center;
    border-bottom: #0097b2 3px solid;
    padding-bottom: 10px;

}

#save-flight-btn, #save-lodging-btn, #save-itinerary-btn, #save-edited-flight, #save-edited-lodging, #save-edited-itinerary{
    background: linear-gradient(to right, #0097b2, #7ed957);
    color: white;
    padding: 10px;
    border: white 2px solid;
}

#save-flight-btn:hover, #save-lodging-btn:hover, #save-itinerary-btn:hover, #save-edited-flight:hover, #save-edited-lodging:hover, #save-edited-itinerary:hover {
    background: linear-gradient(to right, #0097b2, #7ed957); 
    transform: scale(1.05);
    color: white;
    border: white 2px solid;
}

/*-------------------------------------------------------------------------------------*/
/*Footer css*/
.footer {
    background: linear-gradient(to right, #0097b2, #7ed957);
    color: #333;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
    bottom: 0;
}

.left-text {
    margin-right: auto;
}

.globe-icon {
    margin: 0 auto; 
    text-align: center;
}

.social-icons {
    margin-left: auto; 
}

.footer .social-icons a {
    margin-left: 10px; 
}

.footer a {
    color: #333;
    text-decoration: none;
    padding: 5px;
}

.footer a:hover {
    color: white;
}

/*-------------------------------------------------------------------------------------*/
/*Login Footer css*/
.loginFooter {
    background: white;
    color: #333;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
    bottom: 0;
}

.left-text {
    margin-right: auto;
}


.footer-center {
    justify-content: center;
}

.social-icons {
    margin-left: auto; 
}

.loginFooter .social-icons a {
    margin-left: 10px; 
}

.loginFooter a {
    color: #333;
    text-decoration: none;
    padding: 5px;
}

.loginFooter a:hover {
    color: #7ed957;
}
/*-------------------------------------------------------------------------------------*/
/* media */
@media (max-width: 992px) {
    .trip-details-container .col-md-4 {
        flex: 1 1 45%; 
    } 

    .add-btn-container {
        margin-top: -15px;
    }
    .login-page {
        flex-direction: column;
    }

    .col-md-6 {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .trip-details-container .col-md-4 {
        flex: 1 1 100%; 
        margin-bottom: 100px;
    }
    
    .add-btn-container {
        margin-top: -15px;
        margin-bottom: 100px;
    }
    footer {
        flex-direction: column; 
        text-align: center; 
    }

    .footer-left, .footer-center, .footer-right {
        flex: none; 
        width: 100%; 
        text-align: center; 
        margin: 10px 0;
    }

    .footer-right a {
        margin-left: 0;
        margin-right: 10px;
    }

    .login-page {
        flex-direction: column;
    }

    .col-md-6 {
        width: 100%;
        padding: 0;
    }
}


@media (max-width: 576px) {
    .trip-details-container h2, .trip-details-container h3 {
        font-size: 1.5rem; 
    }
    
    .trip-details-container .row {
        flex-direction: column; 
    }

    .add-btn-container {
        margin-bottom: 15px;
    }
}